doctype html
html
   head
      title employee pug
   body
      h1(style="color:green") employee list
      table(border="2" cellpadding="10") 
        thead 
            th FullName
                button sort
            th email 
                button sort
            th mobile
                button sort
        each val in allemployee
            tr 
                td
                    a(href=`/employee/details/${val.mobile}`) #{val.fullname}
                td #{val.email}
                td #{val.mobile}

      